html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent body from scrolling */
  }
  
  body {
    background-color: #f0f0f0; /* Light grey background */
  }
  
  .left-navbar {
    width: 280px; /* Fixed width */
    height: 100vh; /* Fixed height */
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff; /* White background for navbar */
    padding-top: 20px;
    overflow-y: scroll; /* Ensure vertical scrollbar is always visible */
    display: flex;
    flex-direction: column;
  }
  
  /* Custom scrollbar styles */
  .left-navbar::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  .left-navbar::-webkit-scrollbar-track {
    background: #f0f0f0; /* Background of the scrollbar track */
  }
  
  .left-navbar::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Roundness of the scrollbar thumb */
    border: 3px solid #f0f0f0; /* Padding around the scrollbar thumb */
  }
  
  .left-navbar::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the scrollbar thumb on hover */
  }
  
  .tree-node {
    color: #000; /* Black text */
    padding: 0px 5px; /* Reduced padding */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
  }
  
  .tree-node.level-0 {
    font-size: 14px; /* Smaller font size */
  }
  
  .tree-node.level-1 {
    font-size: 12px; /* Smaller font size */
  }
  
  .tree-node.level-2 {
    font-size: 10px; /* Smaller font size */
  }
  
  .tree-node.level-3 {
    font-size: 8px; /* Smaller font size */
  }
  
  .tree-node.level-4 {
    font-size: 6px; /* Smaller font size */
  }
  
  .node-header {
    display: flex;
    align-items: center;
  }
  
  .arrow {
    cursor: pointer;
    margin-right: 5px;
    color: #918b8b;
  }
  
  .node-label {
    cursor: pointer;
    flex-grow: 1; /* Allow label to take remaining space */
    padding: 2px 0; /* Reduced padding */
    user-select: none;
  }
  
  .node-label:hover {
    background-color: #e0e0e0; /* Slightly darker grey on hover */
  }
  
  .node-children {
    padding-left: 10px; /* Reduced indentation */
    user-select: none;
  }
  
  .content {
    margin-left: 280px; /* Adjusted margin to match navbar width */
    padding: 20px;
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
    height: calc(100vh - 40px); /* Adjust height to fit within viewport */
  }
  
  .bold {
    font-weight: bold;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .left-navbar {
      width: 200px; /* Adjust width for smaller screens */
    }
  
    .content {
      margin-left: 200px; /* Adjust margin to match navbar width */
    }
  }
  